{% extends 'base.html' %}
<title>Home Page</title>
{% block content %}
    <dl>
        <dt class="font-weight-bold">About Founder:</dt>
        <dd> Content About Founder</dd>
        <dt class="font-weight-bold">About DurgaSoft:</dt>
        <dd> Content About Institute</dd>
        <dt class="font-weight-bold">Achievement:</dt>
        <td>
            <ol>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
                <Li>So many students placed in good MNCs In The World..</Li>
            </ol>
        </td>
    </dl>
{% endblock %}