{% extends 'base.html' %}
    <title>Service Page</title>
{% block content %}
    <h1 class="text-center"> Available Courses</h1>
    <table class="table table-bordered text-center text-white">
    <thead>
    <tr class="bg-danger">
        <th>Course Name</th>
        <th>Start Date</th>
        <th>Duration</th>
        <th>Timing</th>
        <th>FEE</th>
        <th>Faculty Name</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-warning">
        <td>Python</td>
        <td>20-04-2019</td>
        <td>60 Days</td>
        <td>9:30AM - 11:30AM</td>
        <td>2200/-</td>
        <td>Mr. Narayana</td>
    </tr>
    <tr class="bg-success">
        <td>Django</td>
        <td>21-04-2019</td>
        <td>60 Days</td>
        <td>7:30AM - 9:00AM</td>
        <td>2300/-</td>
        <td>Mr. Narayana</td>
    </tr>
    <tr class="bg-danger">
        <td>UI</td>
        <td>20-04-2019</td>
        <td>60 Days</td>
        <td>12:30PM - 1:30PM</td>
        <td>1000/-</td>
        <td>Mr. Narayana</td>
    </tr>
    <tr class="bg-info">
        <td>Rest Api</td>
        <td>23-04-2019</td>
        <td>30 Days</td>
        <td>7:30PM - 9:30PM</td>
        <td>2100/-</td>
        <td>Mr. Narayana</td>
    </tr>
    <tr class="bg-primary">
        <td>All courses</td>
        <td>30-04-2019</td>
        <td>90 Days</td>
        <td>7:30AM - 9:30PM</td>
        <td>7100/-</td>
        <td>Mr. Narayana</td>
    </tr>
    </tbody>
    </table>
{% endblock %}